extend layout.jade
block content
    div(role='main').container
        div.page-header
            h2= title
        div.body.container-fluid
            div.row
                div.col-md-12
                    table.table.table-striped.table-bordered.table-responsive
                        thead
                            tr
                                th.col-md-2 State
                                th.col-md-2
                                    label City &nbsp;
                                    a(href='/weather/' + (sort === true ? 'desc' : 'asc'))
                                        span(class= (sort === true ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'))
                                th.col-md-2 Weather
                                th.col-md-1 Temp(째C)
                                th.col-md-1 Temp(째F)
                                th.col-md-1 Humidity
                                th.col-md-3 Last Updated
                        tbody
                            each data,index in weather_data
                                tr
                                    td= data.state
                                    td= data.city
                                    td(class='weather-icon')
                                        img(src=data.iconUrl)
                                    td= data.tempC + ' 째C'
                                    td= data.tempF + ' 째F'
                                    td= data.humidity
                                    td= data.observationTime
        div.footer